---
- name: Starting Role {{ role_name }}
  ansible.builtin.debug:
    msg: "DEBUG: {{ role_name }}"

- name: Check linux server monitoring agent exists
  ansible.builtin.stat:
    path: /opt/site24x7/monagent
  register: installed

- name: Download 64 bit Site24x7 agent from public URL
  ansible.builtin.get_url:
    url: https://staticdownloads.site24x7.com/server/Site24x7_Linux_64bit.install
    dest: /opt/Site24x7_Linux_64bit.install
    mode: '0750'
  when: ansible_machine == "x86_64" and not installed.stat.exists

- name: Install 64 bit Site24x7 agent in the server
  ansible.builtin.command: /opt/Site24x7_Linux_64bit.install -i -key={{ site24x7_device_key }} -installer=ansible
  when: (ansible_machine == "x86_64" and proxy == "NONE" and not installed.stat.exists and site24x7_device_key | length > 0)
  changed_when: false

- name: Install 64 bit Site24x7 agent in the server
  ansible.builtin.command: /opt/Site24x7_Linux_64bit.install -i -key={{ site24x7_device_key }} -installer=ansible -proxy={{ proxy }}
  when: (ansible_machine == "x86_64" and proxy != "NONE" and not installed.stat.exists and site24x7_device_key | length > 0)
  changed_when: false

- name: "Restart Site24x7 agent"
  ansible.builtin.systemd:
    name: site24x7monagent
    state: restarted
  when: ansible_machine == "x86_64" and not installed.stat.exists

- name: Download 32 bit Site24x7 agent from public URL
  ansible.builtin.get_url:
    url: https://staticdownloads.site24x7.com/server/Site24x7_Linux_32bit.install
    dest: /opt/Site24x7_Linux_64bit.install
    mode: '0750'
  when: ansible_machine == "i386" and not installed.stat.exists

- name: Install 32 bit Site24x7 agent in the server
  ansible.builtin.command: /opt/Site24x7_Linux_32bit.install -i -key={{ site24x7_device_key }} -installer=ansible
  when: (ansible_machine == "i386" and proxy == "NONE" and not installed.stat.exists and site24x7_device_key | length > 0)
  changed_when: false

- name: Install 32 bit Site24x7 agent in the server
  ansible.builtin.command: /opt/Site24x7_Linux_32bit.install -i -key={{ site24x7_device_key }} -installer=ansible -proxy={{ proxy }}
  when: (ansible_machine == "i386" and proxy != "NONE" and not installed.stat.exists and site24x7_device_key | length > 0)
  changed_when: false

- name: "Restart Site24x7 agent"
  ansible.builtin.systemd:
    name: site24x7monagent
    state: restarted
  when: ansible_machine == "i386" and not installed.stat.exists

- name: Deleting 64 bit install file
  ansible.builtin.file:
    state: absent
    path: /opt/Site24x7_Linux_64bit.install
  when: ansible_machine == "x86_64" and not installed.stat.exists

- name: Deleting 32 bit install file
  ansible.builtin.file:
    state: absent
    path: /opt/Site24x7_Linux_32bit.install
  when: ansible_machine == "i386"
