---
- name: Starting Role {{ role_name }}
  ansible.builtin.debug:
    msg: "DEBUG: {{ role_name }}"

- name: Disable timedatectl
  ansible.builtin.command: timedatectl set-ntp no
  failed_when: false
  changed_when: false

- name: Update apt and install ntp
  ansible.builtin.apt:
    name: ntp
    state: present
    update_cache: true
  when: ansible_os_family == "Debian"

- name: Copy over the NTP configuration (Ubuntu 20.04 and 22.04)
  ansible.builtin.copy:
    src: ntp.conf
    dest: /etc/ntp.conf
    owner: root
    group: root
    mode: "0644"
  notify:
    - Restart ntpd
  tags: ntp
  when: ansible_distribution == 'Ubuntu' and (ansible_distribution_version == '20.04' or ansible_distribution_version == '22.04')

- name: Copy over the NTP configuration (Ubuntu 24.04)
  ansible.builtin.copy:
    src: ntp.conf
    dest: /etc/ntpsec/ntp.conf
    owner: root
    group: root
    mode: "0644"
  notify:
    - Restart ntpd
  tags: ntp
  when: ansible_distribution == 'Ubuntu' and (ansible_distribution_version == '24.04')

  # - name: Make sure NTP is stopped
  #   service: name=ntpd state=stopped enabled=yes
  #   tags: ntp

  # - name: Sync time initialy
  #   shell: ntpdate 172.16.20.1
  #   tags: ntp

  # - name: Restart NTP service
  #   service:
  #     name: ntp
  #     state: restarted
